
body {
  margin: auto;
  max-width: 65em;
  font-family: sans-serif;
  background-color: rgb(108, 137, 108);
  overflow-wrap: break-word;
  position: relative;
}

.header {
  background-color: rgb(108, 137, 108);
  color: rgb(20, 49, 20);
  font-size: 38px;
  padding: 0;
  position: relative;
}

.nav {
  background-color: rgb(108, 137, 108);
  color: rgb(20, 49, 20);
  padding: 0.5em;
  margin: 0.5em 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.content {
  background-color: rgb(108, 137, 108);
  color: rgb(20, 49, 20);
  font-size: 20px;
  padding: 1em;
  margin: 0.5em 0;
}  

.back {
  background-color: rgb(119, 142, 119);
  color: rgb(20, 49, 20);
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button {
  background-color: rgb(20, 49, 20);
  color: rgb(135, 169, 135);
  border: none;
  padding: 7px 7px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.free_text {
  background-color: rgb(169, 199, 169);
  color: rgb(20, 49, 20);
  border: none;
  padding: 8px 8px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}