{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}

    <h1> Kirjat </h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/new_item" class="button"> Lisää uusi kirja</a>
  </p>
  {% else %}

  <p>
    Mikäli haluat lisätä uuden kirjan, kirjaudu sissään tai luo tunnukset oikeasta yläkulmasta

  {% endif %}
  
  <p>
    Voit etsiä kirjoja alla olevan linkin takaa, joko kirjan nimellä tai kirjailijan nimellä. </p>
  
  <p>
    <a href="/find_item" class="button"> Etsi kirja</a>  
  </p>
  <br/>

  <h2>Arvioidut kirjat</h2>

  <ul>
    {% for item in items %}
    <a href="/item/{{item.id}}">{{item.title}}</a><br />
    {% endfor %}
  </ul>

{% endblock %}
