{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}

  <h1> Kirjan tietojen muokkaus</h1>
  <form action="/update_item" method="post">
    <p>
      Kirjan nimi: <br />
      <input type="text" name="title" size="100" value="{{item.title}}" maxlength="50" required/>
    </p>
    <p>
      Kirjoittaja: <br />
      <input type="text" name="writer" size="100" value="{{item.writer}}" maxlength="50" required/>
    </p>
    <input type="hidden" name="item_id" value="{{item.id}}"/>
     {% for class in all_classes %}
    <p>
      {{class}}: <br/>
      <select name="classes">
        <option value="">(valitse)</option>
        {% for option in all_classes[class] %}
          {% if classes[class] == option %}
          <option value="{{ class }}:{{ option }}" selected>{{option}}</option>
          {% else %}
          <option value="{{ class }}:{{ option }}">{{option}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>
    {% endfor %}
    <p>
      Kuinka monta tähteä haluat antaa kirjalle? <br />
      <select name="stars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </p>
    <p>
      Arvio: <br />
      <textarea name="description" rows="8" cols="100" required>{{getstars.description}}</textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä kirjan tiedot" />
    <input type="submit" name="back" value="Palaa takaisin">
  </form>
{% endblock %}