<!DOCTYPE html>
<html>

<head>
  <title>Etsi kirjoja</title>
</head>

<body>
    <h1> Etsi kirjoja </h1>
    <p>
        Voit hakea kirjoja joko kirjailijan tai kirjan nimen mukaan
    </p>
    <form action="/find_item" method="get">
        <p>
            Hae kirjailijan nimellä: <input type="text" name="author" value="{{author}}"> <br/>
            Hae kirjan nimellä (jokin nimen osa riittää): <input type="text" name="book_name" value="{{book_name}}">
        </p>
        <input type="submit" value="Lähetä">
    </form>

    {% if author or book_name %}
    <h2>Haun tulokset</h2>
    <ul>
        {% for item in results %}
        <li><a href="/item/{{item.id}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>
        <li><a href="/books">Takaisin kirjaluetteloon</a></li>
    </p>
    
</body>

</html>