{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/static/main.css">
  <div class="content">

  </div>
    <p>
      Tervetuloa kirjakerhoon. Kerhomme toimiin virtuaalisena lukupiirinä. Jäsenenä voit lisätä kerhomme sivulle lukeamiasi kirjoja
      sekä kirjoittaa niistä arviosi. Lisäksi voit käydä keskustelua muiden jäsenten kanssa lukukokemuksistasi.
    </p>
    {% if session.username %}
    <p>
      Omalle kirjasivullesi pääset <a href="/user/{{session.user_id}}" class="button"> tästä </a>
    </p>
    {% else %}

    <p>
      Mikäli et ole jäsen voit luoda tunnuksen ilmaiseksi täällä:
    </p>
    <p>
      <a href="/register" class="button">Luo tunnus</a>
    </p>

    {% endif %}
    <br/>
    <br/>

    <h2>Arvioidut kirjat</h2>
    <p>
      Kaikki arvioidut kirjat näet täältä, myös ilman tunnuksia:
    </p>
    <a href="/books" class="button">Kirjat</a>
  </div>
{% endblock %}