{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/static/main.css">
  <h1>Kirjautuminen</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}, id-tunnuksesi on {{session.user_id}}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Syötä tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Syötä salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" class="back" value="Kirjaudu" />
  </form>
  {% endif %}
  
  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  <p>
    Mikäli et ole vielä rekisteröitynyt, voit rekisteröityä täällä:
    <a href="/register"> Rekisteröidy</a>
  </p>
  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>

  {% endblock %}
