{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}
<h1>Luo tunnukset</h1>
  <form action="/create" method="post">
    <p>
      Syötä tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Syötä salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>
{% endblock %}