{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}
<h1>Luo tunnukset</h1>
  <form action="/create" method="post">
    <p>
      Syötä tunnus: <br />
      <input type="text" class="free_text" name="username" required />
    </p>
    <p>
      Syötä salasana: <br />
      <input type="password" class="free_text" name="password1" required/>
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" class="free_text" name="password2" required/>
    </p>
    <input type="submit" class="button" value="Luo tunnus" />
  </form>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

{% endblock %}