{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}

<body>
  <h1> Kirjan poisto</h1>
  <p>Kirja: {{item.title}}</p>
  <p>Haluatko varmasti poistaa tämän kirjan</p>
  <p>Lähtökohtaisesti Kirjakerhon arvioitavaksi lisättyjä kirjoja ei poisteta. Poistaminen tulee kyseeseen mm. epäsopivan sisällön vuoksi.</p>
  <form action="/remove_item/{{item.id}}" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="remove" class="button" value="Poista kirja">
    </form>
{% endblock %}