{% extends "layout.html" %}

{% block title %}Kirjakerho{% endblock %}

{% block content %}

  <h1> {{item.title}}</h1>
  {% if session.user_id == item.user_id%}
  <p>
    <a href="/edit_item/{{item.id}}">Muokkaa</a>
    <a href="/remove_item/{{item.id}}">Poista</a>
  </p>
  {% endif %}
  <p>
    Kirjailija: {{item.writer}}
  </p>
  
  {% if classes %}
  <p>
    Luokittelu:
    <ul>
      {% for class in classes %}
      {{ class.title}}: {{class.value}}<br/>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
     <p>
    Kirjan saamien tähtien keskiarvo: {{av_stars}}
  </p>
  <p>
    Kirjaprofiilin luoja: <a href="/user/{{item.user_id}}"> {{item.username}} </a>
  </p>
  <br/>
  <h2>Kirjoitetut arviot</h2>
  <ul>
    {% for description in descriptions %}
    Käyttäjän <a href="/user/{{ description.user_id }}">{{description.username}}</a> arvio kirjasta:
    
      <div class="comment">
        {{description.description.replace('\n', '<br>') | safe}}
      </div>
      <br/>

    {% endfor %}
  </ul>
  <h2>Lisää uusi arvio</h2>

  <form action="/create_description" method="post">
    Kuinka monta tähteä haluat antaa kirjalle? <br />
      <select name="stars" class="button">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    <p>
    Tähän voit kirjoittaa oman arviosi kirjasta ja lukukokemuksesi. Tarkoitus on vaihtaa kokemuksia muiden kirjakerhon jäsenten kanssa. Älä kuitenkaan
    tee juonipaljastuksia.<br />
      <textarea name="new_description" rows="8" cols="100", maxlength="1000" class="free_text" required></textarea>
      <input type="hidden" name="item_id" value="{{ item.id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" /> <br />
      <input type="submit" class="button" value="Lisää"/>
    </p>
  </form>

  <p>
    <a href="/books" class="button">Takaisin kirjaluetteloon</a>
  </p>
{% endblock %}