<!DOCTYPE html>
<html>

<head>
  <title>{{item.title}}</title>
</head>

<body>
  <h1> {{item.title}}</h1>
  {% if session.user_id == item.user_id%}
  <p>
    <a href="/edit_item/{{item.id}}">Muokkaa</a>
    <a href="/remove_item/{{item.id}}">Poista</a>
  </p>
  {% endif %}
  <p>
    {{item.writer}}
  </p>
  <p>
    Kirjaprofiilin luoja: <a href="/user/{{item.user_id}}"> {{item.username}} </a>
  </p>
  {% if classes %}
  <p>
    Luokittelu:
    <ul>
      {% for class in classes %}
      <li>{{ class.title}}: {{class.value}}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
  <h2>Kirjoitetut arviot</h2>
  <ul>
    {% for description in descriptions %}
    <a href="/user/{{ description.user_id }}">{{description.username}}</a>
    <li>{{description.description.replace('\n', '<br>') | safe}}</li>
    {% endfor %}
  </ul>
  <form action="/create_description" method="post">
    Lisää uusi arvio:<br />
      <textarea name="new_description" rows="8" cols="100", maxlength="1000"></textarea>
      <input type="hidden" name="item_id" value="{{ item.id }}">
      <input type="submit" value="Lisää"/>
  </form>
  <p>
    <a href="/">Takaisin etusivulle</a>
  </p>
  
</body>

</html>