<!DOCTYPE html>
<html>

<head>
  <title>{{item.title}}</title>
  <style>
    body {
      width: 400px;
      /* Important for wrapping */
      white-space: normal;
      overflow-wrap: break-word;
    }
  </style>
</head>

<body>
  <h1> {{item.title}}</h1>
  {% if session.user_id == item.user_id%}
  <p>
    <a href="/edit_item/{{item.id}}">Muokkaa</a>
    <a href="/remove_item/{{item.id}}">Poista</a>
  </p>
  {% endif %}
  <p>
    Kirjailija: {{item.writer}}
  </p>
  <p>
    Kirjaprofiilin luoja: <a href="/user/{{item.user_id}}"> {{item.username}} </a>
  </p>
  {% if classes %}
  <p>
    Luokittelu:
    <ul>
      {% for class in classes %}
      <li>{{ class.title}}: {{class.value}}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
  <h2>Kirjoitetut arviot</h2>
  <p>
    Kirjan saamat tähdet: {{av_stars}}
  </p>
  <ul>
    {% for description in descriptions %}
    Käyttäjän <a href="/user/{{ description.user_id }}">{{description.username}}</a> arvio kirjasta:
    <p>
      {{description.description.replace('\n', '<br>') | safe}}
    </p>
    {% endfor %}
  </ul>
  <h2>Lisää uusi arvio</h2>

  <form action="/create_description" method="post">
    Kuinka monta tähteä haluat antaa kirjalle? <br />
      <select name="stars">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    Arvio:<br />
      <textarea name="new_description" rows="8" cols="100", maxlength="1000" required></textarea>
      <input type="hidden" name="item_id" value="{{ item.id }}">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lisää"/>
  </form>

  <p>
    <a href="/books">Takaisin kirjaluetteloon</a>
  </p>
</body>

</html>